/* CSS for the results page */

 /*************************************************** */
/* ************** Results page custom styles and divs and whatever *************** */

/*************************************************** */
/* Box above the result list */
.result-list-header {
	display: grid;

	grid-template-areas:	"srf query by selector .";
							/*"advanced . . . .";*/

	grid-template-rows: 	100px;
	grid-template-columns: 	1fr 2fr 1fr 1fr 1fr;

	/*width: 100%;*/
	/*height: 200px;*/

	background-color: #F3F3F3;

	align-items: center;
	justify-items: center;

	padding-top: 25px;
	padding-bottom: 25px;
	margin: 20px;

	/*border: 1px dotted gray;*/
}



/*************************************************** */
/* Result list itself */
.result-list {
	width: 100%;
}

result {
	display: block;
	/*margin: 45px;*/
	/*margin-bottom: 80px;*/
}

.result-card {
	display: grid;

	width: 100%;

	grid-template-areas: "title title tools"
						 "author inst tags"
						 "previewlabel previewlabel previewlabel"
						 "previewtext previewtext previewtext"
						 "foot foot foot";

	grid-template-rows: 1fr . . 3fr;
	grid-template-columns: 1fr 1fr 1fr;

	padding: 5px;
	padding-bottom: 80px;
}

.result-card>snippet {
	padding: 10px 20px 10px 20px;
	font-size: 15px;
}
.result-card>snippet>h5 {  
	text-decoration: underline;
}

.result-card>header {
	grid-area: title;
	/*padding: 10px 0px 5px 10px;*/
	font-size: 48px;
	font-weight: bold;

	vertical-align: middle;
}
.result-card>tools {
	grid-area: tools;
}
.result-card>author,inst,tags {
	padding: 15px;
	
}
.result-card>author {
	grid-area: author;

	padding-left: 40px;
}
.result-card>inst {
	grid-area: inst;
}
.result-card>tags {
	grid-area: tags;
	justify-content: end;
}
.result-card>preview-label {
	grid-area: previewlabel;

	padding-left: 40px;
}
.result-card>preview-text {
	grid-area: previewtext;
	padding-left: 5%;

	font-size: 20px;
}
.foot {
	grid-area: foot;
}
tools {
	/* was playing with the idea of making this a subgrid to align the toolbar */
	display: grid;
	grid-template-areas: ". one two three";
	grid-template-columns: 4fr 1fr 1fr 1fr;

	grid-area: tools;

	align-self: end;
}
tools>img {
	margin: 5px;
	height: 28px;
	width: auto;

	transition: height 0.125s;

	align-self: end;
}
tools>img:hover {
	height: 32px;
}

.remove {
	grid-area: one;
}
.favorite {
	grid-area: two;
}
.download {
	grid-area: three;
}
.read-more {
	
}
.read-more:hover {
	text-decoration: underline;
}

.underline {
	border-bottom: 1px solid #d1d1d1;
} 

/*  */