/* Body and basic HTML types */
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #FBFBFB;
}
a {
    color: #00B7FF;
}
h2 {
    text-align: center;
}


/* _____________________ AAM custom divs styles _____________________ */

/* Upload Search Area, Login Register Area */
.USA,
.LRA {
    margin: 10px;
}
.USA {
    max-width: 1000px;
}
.LRA {
    max-width: 400px;
    background-color: #F3F3F3;
}

/* Styles for AAM content panels */
.aam-content-pane {
    margin-top: 6%;
}
.aam-row-padded {
    /*order: top right bottom left*/
    
    padding: 0px 5% 0px 5%;
}
.aam-container {}

/* Styles for text entry fields */
.search,
.upload {
    width: 100%;
    padding: 20px;
}
.searchbar,
.uploadbar {
    color: black;
    width: 100%;
    font-size: 30px;
    padding: 10px;
    padding-left: 15px;
    border: none;
    /*box-shadow: 0px 0px 1px gray;*/
    
    border: 1px #f0f0f0 solid;
    /*border-radius: 1px;*/
}
.searchbar:focus,
.uploadbar:focus {
    border: 1px #ffc904 solid;
}
.login,
.register {
    padding: 20px;
}
.login {} .register {
    display: none;
}
.lrfield {
    background-color: transparent;
    color: black;
    width: 100%;
    font-size: 24px;
    margin: 3%;
    padding: 8px;
    padding-left: 15px;
    border: none;
    border-bottom: 2px gray solid;
}
.lrfield:focus {
    border-bottom: 2px #ffc904 solid;
}

/* Styles for AAM buttons */
.aam-btn {
    font-size: 1.5rem;
    background-color: #C4C4C4;
    padding: 5px 25px 5px 25px;
    margin: auto;
    border: 2px black;
    border-radius: 1px;
    margin-top: 10px;
    width: 40%;
}
.aam-btn:hover {
    background-color: #ffc904;
}
.lra-row {
    margin: 15% auto 15% auto;
}
.search-selector {
    width: 100%;
}
.search-selector-btn {
    height: 40px;
    color: white;
    background-color: #D9D9D9;
    border-radius: 0px;
}
.search-selector-btn:not([disabled]):not(.disabled).active {
    background-color: #BDBDBD;
    box-shadow: none;
}
.lra-selector {
    width: 100%;
}
.lra-selector-btn {
    padding: 5px;
    width: 100%;
    color: white;
    background-color: #D9D9D9;
    border-radius: 0px;
}
.lra-selector-btn:not([disabled]):not(.disabled).active {
    background-color: #BDBDBD;
    box-shadow: none;
}



/* CSS for the results page */
/* ************** Results page custom styles and divs and whatever *************** */

/* Box above the result list */
.result-list-header {
    display: grid;
    grid-template-areas: "srf query by selector .";
    /*"advanced . . . .";*/
    
    grid-template-rows: 100px;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    /*width: 100%;*/
    /*height: 200px;*/
    
    background-color: #F3F3F3;
    align-items: center;
    justify-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 20px;
    /*border: 1px dotted gray;*/
}

/* Result list itself */
.result-list {
    width: 100%;
}
result {
    display: block;
    /*margin: 45px;*/
    /*margin-bottom: 80px;*/
}
.result-card {
    display: grid;
    width: 100%;
    grid-template-areas:    "title title tools" 
                            "info info info" 
                            "previewlabel previewlabel previewlabel" 
                            "previewtext previewtext previewtext" 
                            "foot foot foot";
    grid-template-rows: 1fr . . 3fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    padding-bottom: 80px;
}
.result-card>snippet {
    padding: 10px 20px 10px 20px;
    font-size: 15px;
}
.result-card>snippet>h5 {
    text-decoration: underline;
}
.result-card>header {
    grid-area: title;
    /*padding: 10px 0px 5px 10px;*/
    
    font-size: 32px;
    font-weight: bold;
    vertical-align: middle;
}
.result-card>info{
    grid-area: info;
    display: grid;
    padding-left: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.result-card>tools {
    grid-area: tools;
}
.result-card>author,
inst,
tags {
    /*padding: 15px;*/
}
.result-card>author {
    grid-area: author;
    padding-left: 40px;
}
.result-card>inst {
    grid-area: inst;
    font-size: 16px;
}
.result-card>tags {
    grid-area: tags;
    font-size: 16px;
    justify-content: end;
}
.result-card>preview-label {
    grid-area: previewlabel;
    padding-left: 40px;
}
.result-card>preview-text {
    grid-area: previewtext;
    padding-left: 5%;
    font-size: 20px;
}
.foot {
    grid-area: foot;
}
tools {
    /* was playing with the idea of making this a subgrid to align the toolbar */
    
    display: grid;
    grid-template-areas: ". one two three";
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-area: tools;
    align-self: end;
}
tools>img {
    margin: 5px;
    height: 28px;
    width: auto;
    transition: height 0.125s;
    align-self: end;
}
tools>img:hover {
    height: 32px;
}
.remove {
    grid-area: one;
}
.bookmark {
    grid-area: two;
}
.download {
    grid-area: three;
}
.read-more {} .read-more:hover {
    text-decoration: underline;
}
.underline {
    border-bottom: 1px solid #d1d1d1;
}
.bookmarked {
    background-image: '/public/graphics/Star 2 - Yellow.png';
}

/* _______________________ Acount Page CSS _______________________ */
.account-page {
	display: grid;

	grid-template-areas:'. .' 
                        'sidebar main';
	grid-template-columns: 18% 82%;
	grid-template-rows: 50px auto;

	margin: 0px 3% 0px 3%;
}
.account-page>h2{
    grid-area: title;
    justify-self: start;
    align-self: center;
}
.account-page>.sidebar {
	grid-area: sidebar;
	background-color: white;
    padding: 15px;
}
.sidebar>links>h6 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sidebar>link>h6>a:hover {
    color: black;
}
.account-page>.main {
	grid-area: main;
	display: grid;

    padding-left: 15px;

	grid-template-areas: 	'name'
							'email'
							'password';

    grid-template-rows: repeat(1fr);
	/*background-color: blue;*/

    /*justify-content: start;*/
    /*align-content: center;*/
    justify-items: start;
    align-items: start;
}
.main>.name{
    /*grid-area: name;*/
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
}
.main>.email{
    /*grid-area: email;*/
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.main>.password{
    /*grid-area: password;*/
    display: grid;
    /*grid-template-rows: 2fr 2fr 2fr;*/
    grid-template-columns: 3fr 1fr;
}
.main>.name, .email{
    margin-bottom: 80px;
}
.main>.name, .email, .password {
    /*grid-gap: 10px;*/
    /*grid-row-gap: 5px;*/
    width: 100%;
}
.main>form>.searchbar {
    width: auto;
    margin: 3px;
    font-size: 18px;
}
.main>form>.btn {
    align-self: right;
}
.main>form>h2 {
    justify-self: start;
}
.main>form>.aam-btn{
    font-size: 18px;
    /*height: 100%;*/
    width: 100%;
    margin: auto;
    padding: 10px;
}

/* Upload Page */

/* Article View */
.article-page {
    display: grid;

    grid-template-areas:'title tools' 
                        'main main';
    grid-template-columns: 90% 10%;
    grid-template-rows: 1fr 850px;

    margin: 0px 3% 0px 3%;
}
.article-page>.title{
    grid-area: title;
}
.article-page>.title>header{
    
    font-size: 30px;
    font-weight: bold;
    /*vertical-align: middle;*/
}
.article-page>.tools{
    grid-area: tools;
}
.article-page>.viewer{
    grid-area: main;
    height: -webkit-fill-available;
}
.article-page>.pdfobject-container{
    /*height: -webkit-fill-available;*/
}
.pdf-object{
    height: -webkit-fill-available;
}
/* 				Stuff I really shouldn't have done 			 */
/* all buttons now have black text */
.btn {
    color: black;
}
.grow {
    transition: all .125s ease;
}
.grow:hover {
    transform: scale(1.005);
}
.alert {
    /*width: 80%;*/
    
    margin: 10px;
    display: none;
}
.blank-alert {
    height: 59px;
}