extends layout

block content
  div.container(style='text-algin: center')
    br(style='margin: 5%')
    h1= message
    br(style='margin: 5px')
    a(href='/index' style='font-size: 18px') Take me back to the index