extends layout

append scripts
  script.
    $(document).ready(function() {
      $(".login-selector").click(function(){
          $(".register").hide();
          $(".login").show();
      });
      $(".register-selector").click(function(){
          $(".register").show();
          $(".login").hide();
      });
    });
block content

  //- Main body of page, contains search and login boxes
  div.container-fluid
    div.row.justify-content-md-center.aam-content-pane
      div.col-sm-7.USA
        form.search.justify-content-md-center(method='GET' action='/search')
          h1 Search

          br
          br
          div.row.aam-row-padded
            div.btn-group.search-selector(data-toggle="buttons")
              div.btn.search-selector-btn.active.col-sm-10
                input(type="radio" name="options" value="keyword" id="keyword" autocomplete="off" checked)
                h4 Keyword
              div.btn.search-selector-btn.col-sm-10
                input(type="radio" name="options" value="author" id="author" autocomplete="off")
                h4 Author
              div.btn.search-selector-btn.col-sm-10
                input(type="radio" name="options" value="doi" id="doi" autocomplete="off")
                h4 DOI
              div.btn.search-selector-btn.col-sm-10
                input(type="radio" name="options" value="subject" id="subject" autocomplete="off")
                h4 Subject

          div.row.aam-row-padded
            input.searchbar(type='text' placeholder='Search' name='search')

          div.row.aam-row-padded
            input.btn.aam-btn.btn-primary(type='submit' value='Search' href='/search' method='POST')
        // reallly need to remove these breaks
        br
        br

        form.upload.justify-content-md-center(method='post' action='/upload')
          h1 Upload

          br
          br
          div.row.aam-row-padded
            input.searchbar(type='text' placeholder='File Location' name='upload')
            input.btn.aam-btn.btn-primary(type='submit' value='Upload')

      div.col-sm-4.LRA

        div.row
          div.btn-group.lra-selector(data-toggle="buttons")
            div.btn.lra-selector-btn.login-selector.active
              input(type="radio" name="options" id="login" autocomplete="off" checked)
              h3 Login
            div.btn.lra-selector-btn.register-selector
              input(type="radio" name="options" id="register" autocomplete="off")
              h3 Register

        form.login.justify-content-md-center(method='POST' action='/login')
          h2 Login
          div.row.lra-row
            input.lrfield(type='text' placeholder='Email' name='email')
          div.row.lra-row
            input.lrfield(type='text' placeholder='Password' name='password')
          div.row.lra-row
            input.btn.aam-btn.btn-primary(type='submit' value='Login')
          h2 #{message ? message : ''}
          #expressFlash

        form.register.justify-content-md-center(method='POST' action='/register')
          h2 Register
          div.row.lra-row
            input.lrfield(type='text' placeholder='First name' name='first' required='required' oninvalid='this.setCustomValidity("Please enter a first name")' oninput='setCustomValidity("")')
          div.row.lra-row
            input.lrfield(type='text' placeholder='Last name' name='last' required='required' oninvalid='this.setCustomValidity("Please enter a last name")' oninput='setCustomValidity("")')
          div.row.lra-row
            input.lrfield(type='text' placeholder='Email' name='email' pattern='^[a-z.0-9\d]+[@][a-z.0-9\d]+\.edu$' title='Enter a valid .edu email: "example@example.edu"' required='required' oninvalid='this.setCustomValidity("Please enter a valid .edu email")' oninput='setCustomValidity("")')
          div.row.lra-row
            input.lrfield(type='text' placeholder='Password' name='password' required='required' oninvalid='this.setCustomValidity("Please enter a valid password")' oninput='setCustomValidity("")')
          div.row.lra-row
            input.lrfield(type='text' placeholder='Confirm' name='confirm' required='required' oninvalid='this.setCustomValidity("Please confirm your password")' oninput='setCustomValidity("")')
          div.row.lra-row
            input.btn.aam-btn.btn-primary(type='submit' value='Register')
