extends layout

block content
  div.container-fluid
      
    div.row.justify-content-md-center

      div.col-md-10.result-list.justify-content-md-center
        div.row
          h1 You're trying to register
        div.row
          p email: #{email}.
        div.row
          p password: #{password}.
        div.row
          p confirm: #{confirm}