extends layout

block content
  main(role='main')
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    h1 This is the resulst page
    