extends layout

block content
  main(role='main')
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    h1 This is the results page
    
