extends layout

block content
  div.container
    div.main
      form.create(method='POST' enctype='multipart/form-data' action='/upload/manual/file')
        div.row.justify-content-md-center
          input.searchbar(type='text' placeholder='Title' name='title' value='Title' required)
          input.searchbar(type='text' placeholder='Author' name='author' value='Author' required)
          input.searchbar(type='text' placeholder='University' name='uni' value='University' required)
          input.searchbar(type='text' placeholder='Keywords' name='tags' value='Some tags' required)
          textarea.searchbar(type='text' placeholder='Snippet' name='snippet')
          input.searchbar(type='file' placeholder='File Location' name='file' id='file' required)
          input.aam-btn(type='submit' value='Upload')